

.Gridwrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "he im na fa ed"
    ;
    grid-template-columns: 1,1fr;
    grid-template-rows: 5,1fr;
    grid-gap: 1px;
    flex-direction: column ;
    display: flex;
    text-align: center;
}

.Header {
    grid-area: he;
    font-size: 100px;
}

.Image {
    grid-area: im;
    max-width: 20%;
    max-height: 20%;
    margin-top: 100px;
    margin-bottom: 30px;
}

.Name {
    grid-area: na;
    font-size: 30px;
    margin-bottom: 30px;
}

.Favorites {
    grid-area: fa;
    font-size: 30px;
    margin-bottom: 30px;
}

.Edit {
    grid-area: ed;
    font-size: 20px;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
}